<div class="header" style="top: 12px">当前位置：控制面板</div>
<div class="mainBody">
    <div>
        <div ng-click="styleClick()">
            <span>风格栏目</span>
            <span>点击进入</span>
        </div>
        <div ng-click="categoryClick()">
            <span>类型栏目</span>
            <span>点击进入</span>
        </div>
        <div ng-click="clothesClick()">
            <span>资讯信息</span>
            <span>点击进入</span>
        </div>
    </div>
    <div>
        <div ng-click="messageClick()">
            <span>服装栏目</span>
            <span>点击进入</span>
        </div>
        <div ng-click="orderClick()">
            <span>订单信息</span>
            <span>点击进入</span>
        </div>
    </div>
</div>