.addBook{
    margin-left: 50px;
    margin-top: 20px;
}
.addBook
{
    margin-left: 50px;
}
.addBook>div:nth-child(1)
{
    display: flex;
    align-items: center;
}
.addBook>div:nth-child(1)>div:last-child>span:nth-child(1)
{
    color: #269abc;
}

.addBook>div:nth-child(1)>div:nth-child(1)
{
    width: 300px;
    margin-top: 20px;
}
.addBook>div:nth-child(1)>div:nth-child(2)
{
    margin-top: 20px;
}
.addBook>div:nth-child(1)>div:nth-child(1)
{
    margin-left: 30px;
}
.addBook>div:nth-child(1)>div>div
{
    margin-top: 20px;
}
.addBook>div:nth-child(2)
{
    width: 500px;
    margin-top: 20px;
    margin-left: 30px;
}
.addBook>div:nth-child(1)>div>div>span:nth-child(1)
{
    color:#269abc;
    width: 80px;
    display: inline-block;
}
.addBook>div:nth-child(2)>span:nth-child(1)
{
    color: #269abc;
}
.addBook>div:nth-child(3)
{
    margin-left: 250px;
}
.addBook>div:nth-child(3)>button:nth-child(2)
{
    margin-left: 30px;
}
.addBook input,.addBook select
{
    width: 200px;
    height: 30px;
}
.addBook textarea
{
    width: 992px;
    height: 216px;
}
